<div class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <h2>Complétez votre Profil</h2>
      <p>Parlez-nous un peu de vous avant de commencer.</p>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

      <div class="avatar-section">
        <div class="avatar-wrapper" (click)="fileInput.click()">
          @if (imagePreview()) {
            <img [src]="imagePreview()" alt="Preview">
          } @else {
            <div class="placeholder">
              <span>📷</span>
            </div>
          }
          <div class="overlay">Choisir une photo</div>
        </div>
        <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" hidden>
      </div>

      <div class="form-body">
        <div class="input-group">
          <label>Nom Complet</label>
          <input type="text" formControlName="fullName" placeholder="Ex: Marouan Ak">
        </div>

        <div class="input-group">
          <label>Bio (Optionnel)</label>
          <textarea formControlName="bio" placeholder="Passionné de films d'action..."></textarea>
        </div>
      </div>

      <div class="form-footer">
        <button type="submit" [disabled]="profileForm.invalid || isLoading()" class="btn-save">
          @if (isLoading()) {
            <span class="loader"></span>
          } @else {
            Enregistrer et Continuer
          }
        </button>
      </div>
    </form>
  </div>
</div>
